div {
    margin: 0px;
    padding: 0px;
}
#nav {
    z-index: 100;
    position: absolute;
}
.car {
    position: absolute;
    transition: 0.08s;
}
.board-row {
    height: 100px;
}
.square {
    position: absolute;
}
#code-pane {
    position: absolute;
    left: 1000px;
}
#code {
    width: 500px;
    height: 400px;
}

.r90 {
    transform: rotate(90deg);
}
.r180 {
    transform: rotate(180deg);
}
.r270 {
    transform: rotate(270deg);
}

i {
    font-family: 'Courier New', Courier, monospace;
}
